.block__title {
    font-family: 'Playfair Display';
font-weight: 700;
font-size: 36px;
color: #D4C17F;
}
.block__input {
    width: 255px;
    height: 50px;
    margin-left: 30px;
    text-align: center;
    background: #ffffff;
    opacity: 0.2;
    border: none;
}
.block__warning {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #e7e7e7;
}
.block__btn {
    margin-top: 35px;
    margin-left: 35px;
    width: 255px;
    height: 50px;
    background: #D4C17F;
    border: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}
.block__content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.block__left {
    max-width: 50%;
}
.block__warning {
    width: 255px;
    margin-left: 30px;
    margin-top: 35px;
    display: inline-block;
}

.block {
    padding: 180px 0;
}
