.footer__content {
    font-family: 'Raleway';
display: flex;
justify-content: space-between;
color: #FFFFFF;
}
.footer__list {
   list-style: none;
}

    


ul {
    list-style: none;
}

.footer__icon {
  margin-left:  40px;
}
.footer {
  background: #2D343C;
}