.list {
    list-style: none;
    display: flex;
    
    color: white;
}
li {
    margin-left: 40px;
}
header {
    position: absolute;
    width: 100%;
    top: 30px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    
}